@charset "UTF-8";

.nav {

	display: flex;
}

.question {
	width: 300px;
}

.answer_area {
	display: flex;
}

.answer {
	width: 500px;
}

.answer {
	width: 300px;
	margin: 5px;
}

input {
  	margin: 5px;

}

.removeBtn {
	margin: 5px
}
