<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
	<title>edit confirm</title>
</head>
<body>
	<!-- nav -->
	<div class="nav">
		<form method="post" th:action="@{/top}" style="display: inline">
			<input type="submit" value="top" />
		</form>
		<form method="post" th:action="@{/logout}" style="display: inline">
			<input type="submit" value="logout" />
		</form>
	</div>

	<!-- form -->
	<form th:method="post" th:action="@{/update}">
		<!-- 問題番号 -->
		<div>
			<label>問題番号：</label>
			<input readonly class="num" type="text" name="id" th:value="${id}" />
		</div>

		<!-- 問題 -->
		<div>
			<label>問題：</label>
			<input readonly class="question" type="text" name="question" th:value="${question}" />
		</div>

		<!-- 答え -->
		<div class="answer_area">
			<label>答え：</label>
			<div id="form_area" class="answer">
				<div th:each="answer : ${array_answer}">
					<div th:if="${answer.length() != 0}">
						<input readonly class="answerForm" type="text" name="answer" th:value="${answer}" />
					</div>
					<!-- idを一緒に渡す -->
					<div th:each="answer_id : ${answer_id}">
						<input type="hidden" name="answer_id" th:value="${answer_id}" />
					</div>
					<!-- correct_answers.questions_idを一緒に渡す -->
					<input type="hidden" name="questions_id" th:value="${questions_id}" />
				</div>
			</div>
		</div>

		<!-- 確認 -->
		<input type="submit" value="更新" style="display: inline" />
	</form>

	<!-- 戻る -->
	<form method="post" th:action="@{/edit}" style="display: inline">
		<input type="submit" value="戻る" />
		<input type="hidden" name="id" th:value="${id}" />
	</form>

</body>
</html>