<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
	<title>edit</title>
</head>
<body>
	<!-- nav -->
	<div class="nav">
		<form method="post" th:action="@{/top}" style="display: inline">
			<input type="submit" value="top" />
		</form>
		<form method="post" th:action="@{/logout}" style="display: inline">
			<input type="submit" value="logout" />
		</form>
	</div>

	<!-- error message -->
	<div th:if="${error_msg != null}">
		<span th:text="${error_msg}"></span>
	</div>

	<!-- form -->
	<form th:method="post" th:action="@{/editConfirm}">
		<!-- 問題番号（※編集不可） -->
		<div class="questionNum">
			問題番号： <input readonly type="text" name="id" th:value="${question.getId()}" />
		</div>

		<!-- 問題 -->
		<div>
			問題： <input type="text" name="question" th:value="${question.getQuestion()}" />
		</div>

		<label>答え：</label>
		<div id="form_area" class="answer">
			<!-- 答え -->
			<input id="answer_0" class="answerForm" type="hidden" name="answer" />

			<!-- 削除 -->
			<input id="0" class="removeBtn" type="hidden" th:value="削除" onclick="deleteBtn(this);" />
		</div>

		<!-- JS -->
		<script type="text/javascript" th:src="@{/js/edit.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			var answerList = /*[[ ${answerList}]]*/'answerList';

			var answers = [];
			var i = 1 ;
			;for(var i=0;i<answerList.length;i++){
				var input_data = document.createElement('input');
			  	input_data.type = 'text';
			  	input_data.id = 'answer' + i;
				input_data.name = 'answer';
				input_data.value =answerList[i].answer;
			  	var parent = document.getElementById('form_area');
			  	parent.appendChild(input_data);

			  	var input_data2 = document.createElement('input');
			  	input_data2.type = 'hidden';
			  	input_data2.id = 'answer_id' + i;
				input_data2.name = 'answer_id';
				input_data2.value = 0;
			 	parent.appendChild(input_data2);

				var button_data = document.createElement('button');
			 	button_data.id = i;
			 	name = 'delete';
			  	button_data.onclick = function(){deleteBtn(this);}
			  	button_data.innerHTML = '削除';
			  	parent.appendChild(button_data);

			  	console.log(answerList[i].answer);

			}


			/*]]>*/
			</script>

		<!-- 追加 -->
		<input type="button" value="追加" onclick="addForm();" />

		<!-- 確認 -->
		<input type="submit" value="確認" />
	</form>

	<!-- 戻る -->
	<form method="get" th:action="@{/list}" >
		<input type="submit" value="戻る" />
	</form>

</body>
</html>