<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>user lists</title>
</head>
<body>
	<!-- top, logoutボタン -->
	<div class="nav">
		<form method="post" th:action="@{/top}" style="display: inline">
			<input type="submit" value="top" />
		</form>
		<form method="post" th:action="@{/logout}" style="display: inline">
			<input type="submit" value="logout" />
		</form>
	</div>

	<!-- 新規登録ボタン -->
	<div class="userRegisterBtn">
		<form method="post" th:action="@{/userRegister}">
			<input type="submit" value="新規登録">
		</form>
	</div>

	<!-- ユーザ一覧 -->
	<div class="table">
		<table>
			<tr>
				<th>ID</th>
				<th>権限</th>
				<th>ユーザー名</th>
			</tr>
			<tr th:each="user:${userList}">
				<!-- ID -->
				<td><input type=text name="id" th:value="${user.getId()}" /></td>

				<!-- admin_flagが1の場合 -->
				<th:block th:if="${user.getAdminFlag() == 1}">
					<td><input type=text name="admin" th:value="管理者" /></td>
				</th:block>

				<!-- admin_flagが1以外の場合 -->
				<th:block th:unless="${user.getAdminFlag() == 1}">
					<td><input type=text name="admin" th:value="一般" /></td>
				</th:block>

				<!-- ユーザー名 -->
				<td><input type=text name="name" th:value="${user.getName()}" /></td>

				<!-- 編集 -->
				<td>
					<form method="post" th:action="@{/userEdit}">
						<input type="hidden" name="id"
							th:value="${user.getId()}">
						<input type="submit" value="編集">
					</form>
				</td>
				<!-- 削除 -->
				<td>
					<form method="post" th:action="@{/userDelete}">
						<input type="hidden" name="id"
							th:value="${user.getId()}">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>