<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>user register</title>
</head>
<body>
	<!-- nav -->
	<div class="nav">
		<form method="post" th:action="@{/top}" style="display: inline">
			<input type="submit" value="top" />
		</form>
		<form method="post" th:action="@{/logout}" style="display: inline">
			<input type="submit" value="logout" />
		</form>
	</div>

	<!-- error message -->
	<div th:if="${error_msg != null}">
		<span th:text="${error_msg}"></span>
	</div>

	<!-- form -->
	<form th:method="post" th:action="@{/userRegisterConfirm}" name="form">
		<!-- ユーザー名 -->
		ユーザー名： <input type="text" name="name" placeholder="半角英数字のみ" />
		<br>
		<!-- PW -->
		PW： <input type="password" name="pass" placeholder="半角英数字8文字以上" />
		<br>
		<!-- PW確認 -->
		PW確認： <input type="password" name="confirm_pass" placeholder="半角英数字8文字以上" />
		<br>
		<!-- 管理者 -->
		管理者： <input type="checkbox" name="admin_check" />
		<br>
		<!-- 確認 -->
		<input type="submit" value="確認" />
	</form>

	<!-- 戻る -->
	<form method="get" th:action="@{/userlists}" style="display: inline">
		<input type="submit" value="戻る" />
	</form>

</body>
</html>